//- Nav and Page Header

div(class="pageHeader")
    h1(class="pageHeaderTitle")= pageTitle

div(class="navBar")
    nav(class="navMain")
                ul(class="navList")
                    li(class="navItem")
                        div(class="navIcon")
                            include ../resources/home.svg
                        a(href = "/") Home
                    
                    li(class="navItem")
                        div(class="navIcon")
                            include ../resources/register.svg
                        a(href = "/user/register") Register
                    
                    li(class="navItem")
                        div(class="navIcon")
                            include ../resources/login.svg
                        a(href = "/user/login") Login
                    
                    li(class="navItem")
                        div(class="navIcon")
                            include ../resources/info.svg
                        a(href = "/user/userinfo") User Info