/* Reset Base Body Styles */
html, body, nav, ul, li {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    line-height: 1;
	vertical-align: baseline;
}

body {
    background-color: rgb(255, 255, 255);
}

.navBar {
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    margin: 0;
    padding: 0;
}

.navItem {
    width: 100%;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navItem:hover {
    background-color: rgb(199, 199, 199);
}

.navList {
    list-style-type: none;
}

.navItem a {
    display: block;
    width: inherit;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(34, 34, 34);
    line-height: 30px;
    border-bottom: 1px solid rgb(87, 87, 87);
    text-align: left;
    text-decoration: none;
}

.navIcon * {
    fill:rgb(51, 103, 214);
    height: 20px;
    width:20px;
    padding: 5px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.pageHeader {
    margin: 0;
    background-color: rgb(51, 103, 214);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
}

h1.pageHeaderTitle {
    font-weight: 500;
    line-height: 50px;
    padding-left: 20px;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContent {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 1px 3px 1px rgb(99, 99, 99);
}

.mainContent * {
    padding: 5px;
}