doctype html
html
    head
        - var pageTitle = "Home";
        title= pageTitle
        style
            include ./partials/styles.css
    body 
        include ./partials/nav

        div(class="mainContent")
            h1= pageTitle
            p 
                | Styles are subject to change and are ugly as of now. The 
                | goal is to mock the Google Chrome settings page as closely as possible for layout.