doctype html
html
    head
        - var pageTitle = "Login";
        title= pageTitle
        style
            include ./partials/styles.css
    body 

        include ./partials/nav
        
        div(class="mainContent")
            h1.loginPage= pageTitle

            p 
                | This is a general test of how to implement a login system using username and password. 
                | This will not work if the server has been reset and there is no users. Check UserInfo 
                | for users
            
            form(action="/user/login" method="POST")
                input(type="text" name="username" placeholder="Username")
                input(type="password" name="password" placeholder="Password")
                button(type="submit") Submit