doctype html
html
    head
        - var pageTitle = "Register";
        title= pageTitle
        style
            include ./partials/styles.css
    body 

        include ./partials/nav
        
        div(class="mainContent")
            h1.loginPage= pageTitle

            p 
                | This is a general test of how to implement a registration system using username and password. 
                | The user does not currently save outside of rebooting the server.
            
            form(action="/user/register" method="POST")
                input(type="text" name="username" placeholder="Username")
                input(type="password" name="password" placeholder="Password")
                button(type="submit") Submit